@page { 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 25mm 25mm 25mm 25mm;  
} 

.page-header {
	text-align: center;

	font-size: 18px;

	margin-top: 0px;
	margin-bottom: 2px;

	padding-bottom: 0px;

	border-bottom: none;

	color: #476A95 !important;
}

body {
	font-size: 12px;
}

hr {
	margin-top: 4px;
	margin-bottom: 4px;
}

ul {
	margin-bottom: 0px;
	-webkit-padding-start: 8px;
}

.headshot {
	height: 96px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.resume-section {
	/*margin-bottom: 8px;*/
}
.resume-item {
	margin-top: 3px;
	margin-bottom: 3px;
}

.details {
	padding-left: 12px;
	line-height: 1.25;
}

.section-label {
	color: #476A95 !important;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
}

.item-title, .item-award-title {
	font-weight: bold;
}

.item-highlights {
	font-size: 10px;
}

.item-job-position {
	font-style: italic;
}

.item-skill, .item-interest {
	font-weight: bold;
}

.item-education-classes {
	font-size: 10px;
}

.item-skill-keywords {
	font-size: 10px;
}

.item-award-summary {
	font-size: 10px;
}

.item-reference-name {
	font-weight: bold;
}
.item-reference-summary {
	font-size: 10px;
}

.item-date {
	display: inline-block;
}
.item-location {
	font-weight: bold;
}

.social-media {
	display: block;
}
.social-media > i {
	margin-right: 4px;
}

.footer {
	padding-top: 4px;
	text-align: center;
	font-style: italic;
}